@page "/counter"
@rendermode InteractiveServer

<PageTitle>Ideje</PageTitle>

<h1>Ideje za projekt</h1>

<p role="status">
    U detaljima svakog stroja, dodati gumb za dodavanje kvara, graf za prikaz prijasnjih kvarova kroz vrijeme. <br/>

    Na popisu strojeva prikazati koji stroj je trenutno u kvaru, mozda i neki graf za vizualizaciju. <br />

    Također, dodati graf pojedinog stroja o aktivnosti (kao sta su nam pokazali na career day-u), za prikaz produktivnosti. <br />
</p>
